@import 'font';
@import 'color';
@import 'section1';
@import 'section2';
@import 'section3';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content{
  max-width: 1140px;
  margin: 0 auto;
}
/*HEADER*/
.header{
  height: 75px;
  background-color: $backgroundHeader;
}
.header-content{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-leftBlock{
  display: flex;
  gap: 42px;
}
.header-rightBlock{
  display: flex;
  gap: 33px
}

@media (max-width: 1024px){
  .content{
    padding-left: 16px;
    padding-right: 16px;
  }
}