@import 'font';
@import 'color';
@import 'section1';
@import 'section2';
@import 'section3';
@import 'footer';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content{
  max-width: 1140px;
  margin: 0 auto;
}
/*HEADER*/
.header{
  height: 75px;
  background-color: $backgroundHeader;
}
.header-content{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-leftBlock{
  display: flex;
  align-items: center;
  gap: 42px;
}

.header-leftBlock__search{
  cursor: pointer;
}
.header-leftBlock__search path{
  transition: fill .3s;
}


.header-rightBlock{
  display: flex;
  gap: 33px;
}
.header-rightBlock__icon{
  cursor: pointer;
}
.header-rightBlock__icon path {
  transition: fill .3s;
}


@media (hover: hover) {
  .header-leftBlock__search:hover path{
    fill:$accentColor;
  }
  .header-rightBlock__icon:hover path{
    fill: $accentColor;
  }
}

@media (max-width: 1024px){
  .content{
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 768px){
  .lk{
    display: none;
  }
  .cartShop{
    display: none;
  }
}

